/*
 * Header css File
*/

.header {
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.header-title {
  margin: .5rem 0;
  margin-right: 2rem;
  font-size: 2rem;
}

.header .nav-link {
  padding: .5rem 1rem;
  border-radius: 3px;
}

.header .nav-link:hover {
  background-color: #444;
}

.header-link {
  color: white;
}

.header-link:hover,
.header .nav-link:hover {
  color: #00bc8c;
  text-decoration: none;
}